/* @import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap'); */
*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}
html{
    /* me permite deslizar cuando hago clic en los links del menu */
    scroll-behavior: smooth;
}
/* MENU */
.container-header{
    background: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.container-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.container-header header .logo a{
    font-family: 'Righteous';
    font-size: 36px;
    color: #1E90FF;
    text-decoration: none;
}
.container-header header ul{
    display: flex;
    list-style: none;
}
.container-header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.container-header header nav ul li a:hover{
    color: #1E90FF;
}
.nav-responsive{
    background-color: #1E90FF;
    color:#fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

.container-header header nav ul li a.active {
    color: #1E90FF;
    font-weight: bold; /* opcional */
    border-bottom: 2px solid #1E90FF; /* opcional */
}

/* SECCION I N I C I O */
.home{
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
    url(https://jhonatancrruzz.com/assets/imagen/front_page.webp);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}
.home .content-banner{
    padding: 20px;
    background-color: #1e2326;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}
.home .content-banner img{
    margin-top: 40px;
    border: 10px solid #1E90FF;
    display: block;
    width: 300px;
    height: 280px;
    margin: auto;
    border-radius: 50%;
    object-fit: cover;
}
.home .content-banner h1{
    margin-top: 40px;
    font-size: 35px;
    font-family: 'Righteous';
}
.home .content-banner h2{
    font-size: 15px;
    font-weight: normal;
}
.home .content-banner .networks a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
/* YouTube */
.home .content-banner .networks .youtube:hover {
    background-color: #FF0033;  /* Fondo rojo de YouTube */
    background-image: linear-gradient(45deg, #FF0033 25%, #FF3333 50%, #FF0033 75%);
    background-size: 400% 400%;
    animation: move-background-youtube 3s ease infinite;
}

/* Animación de movimiento de YouTube */
@keyframes move-background-youtube {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* X (Tiktok) */
.home .content-banner .networks .tiktok:hover {
    background-color: #020202;  /* Fondo negro de X */
    background-image: linear-gradient(45deg, #020202 25%, #333333 50%, #020202 75%);
    background-size: 400% 400%;
    animation: move-background-tiktok 3s ease infinite;
}

/* Animación de movimiento de X (tiktok) */
@keyframes move-background-tiktok {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* LinkedIn */
.home .content-banner .networks .linkedink:hover {
    background-color: #0A66C2;  /* Fondo azul de LinkedIn */
    background-image: linear-gradient(45deg, #0A66C2 25%, #1A80D0 50%, #0A66C2 75%);
    background-size: 400% 400%;
    animation: move-background-linkedin 3s ease infinite;
}

/* Animación de movimiento de LinkedIn */
@keyframes move-background-linkedin {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Instagram (gradiente) */
.home .content-banner .networks .instagram:hover {
    background: linear-gradient(45deg, #F58529, #DD2A7B, #8134AF, #515BD4);
    background-size: 400% 400%;
    animation: move-background-instagram 3s ease infinite;
}

/* Animación de movimiento de Instagram */
@keyframes move-background-instagram {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.aboutme{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}
.aboutme .content-section{
    max-width: 1100px;
    margin: auto;
}
.aboutme h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}
.aboutme .content-section p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}
.aboutme .content-section p span{
    color: #1E90FF;
    font-weight: bold;

}
.aboutme .row{
    display: flex;
}
.aboutme .row .column
{
    width: 50%;
}

.aboutme .row .column h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.aboutme .row .column ul{
    list-style: none;
}
.aboutme .row .column ul li{
    margin: 12px 0;
}
.aboutme .row .column ul li strong{
    display: inline-block;
    color: #1E90FF;
    width: 130px;

}
.aboutme .row .column ul li span{
    background-color: #1E90FF;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}
.aboutme .row .column a{
    text-decoration: none;
    color: #fff;
}
.aboutme .row .column .container-interests{
    display: flex;
    flex-wrap: wrap;
}
.aboutme .row .column .container-interests .interests{
    width: 100px;
    height: 100px;
    background-color: #252A2E;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
    font-size: .85rem;
    text-align: center;
}.aboutme .row .column .container-interests .interests:hover{
    background-color: #1E90FF;
}
.aboutme .row .column .container-interests .interests i{
    font-size: 30px;
    margin-bottom: 10px;
}
.aboutme button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
.aboutme button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1E90FF;
    z-index: -1;
    transition: 1s;
}
.aboutme button:hover .overlay{
    width: 100%;
}
/* SECCION S K I L L S */
.skills{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
}
.skills .content-section{
    max-width: 1100px;
    margin: auto;
}
.skills h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}
.skills .row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.skills-programing{
    width: 210px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-programing h3{
    font-size: 1.5rem;
}

.skills-programing img{
    width: 100px;
    transition: 1s;
}
.skills-programing img:hover{
    width: 120px;

}

/* SECCION CURRICULUM */
.resume{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}
.resume .content-section{
    max-width: 1100px;
    margin: auto;
}

.resume h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}
.resume .row{
    display: flex;
    justify-content: space-between;
}
.resume .row .column{
    width: 49%;
    padding: 0 20px;
}
.resume .row .column h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.resume .row .left{
    border-right: 2px solid #252A2E;
}
.resume .row .right{
    border-left: 2px solid #252A2E;

}
.resume .row .right h3{
    padding-left: 1.2rem;
}
.resume .row .item{
    padding: 25px;
    margin-bottom: 30px;
    background-color: #252A2E;
    position: relative;
}
.resume .row .item h4{
    font-size: 20px;
    margin-bottom: 10px;
}
.resume .row .item .house{
    color: #1E90FF;
    font-size: 22px;
    font-weight: bold;
    display: block;
}
.resume .row .item .date{
    display: block;
    color: #1E90FF;
    margin-bottom: 10px;
}
.resume .row .item p{
    line-height: 24px;
}
.resume .row .izq{
    border-right: 2px solid #1E90FF;
    margin-right: 20px;
}
.resume .row .der{
    border-left: 2px solid #1E90FF;
    margin-left: 20px;
}
.resume .row .item .left-connector{
    height: 2px;
    background-color: #1E90FF;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}
.resume .row .item .left-connector .left-circle{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #1E90FF;
    float: right;
    position: relative;
    bottom: 4px;
}
.resume .row .item .right-connector{
    height: 2px;
    background-color: #1E90FF;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}
.resume .row .item .right-connector .right-circle{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #1E90FF;
    float: left;
    position: relative;
    bottom: 4px;
}
/* SECCION PORTFOLIO */
.portfolio{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
}
.portfolio .content-section{
    max-width: 1100px;
    margin: auto;
}
.portfolio h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.portfolio .gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.portfolio .gallery .project{
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}
.portfolio .gallery .project img{
    width: 100%;
    display: block;
}
.portfolio .gallery .project .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(30,144,255,.8), rgba(30,144,255,.8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}
.portfolio .gallery .project .overlay h3{
    margin-bottom: 20px;
    transition: 1s;
}
.overlay h3 a {
    color: inherit;          /* Hereda el color del h3 */
    font-family: inherit;    /* Hereda la fuente del h3 */
    text-decoration: none;   /* Quita el subrayado, si lo deseas */
}  
.portfolio .gallery .project .overlay:hover{
    opacity: 1;
}
.portfolio .gallery .project .overlay:hover h3{
    margin-bottom: 0px;
}
/* SECCION CONTACTO */
.contact{
    background-image: url(https://jhonatancrruzz.com/assets/imagen/contact_bg.webp);
    background-color: #1e2326;
    color: #fff;
    padding: 50px 0;
}
.contact .content-section{
    max-width: 1100px;
    margin: auto;
}
.contact h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.contact .row{
    display: flex;
}
.contact .column{
    width: 50%;
    padding: 10px;
    position: relative;
}
.contact .column input, .contact .column textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252A2E;
    color: #fff;
    font-size: 18px;
}
.contact button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
.contact button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1E90FF;
    z-index: -1;
    transition: 1s;
}
.contact button:hover .overlay{
    width: 100%;
}
.contact .column img{
    width: 100%;
}
.contact .column .info{
    position: absolute;
    top: 50%;
    background-color: #252A2E;
    padding: 10px;
    max-swidth: 380px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}
.contact .column .info ul{
    list-style: none;
}
.contact .column .info ul li{
    margin-bottom: 8px;
}
.contact .column .info ul li i{
    /* color: #1E90FF; */
    display: inline-block;
    margin-right: 8px;
}
footer{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
footer .networks{
    margin-bottom: 20px;
}
footer .networks a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
/* YouTube en el footer */
footer .networks .youtube:hover {
    background-color: #FF0033;  /* Fondo rojo de YouTube */
    background-image: linear-gradient(45deg, #FF0033 25%, #FF3333 50%, #FF0033 75%);
    background-size: 400% 400%;
    animation: move-background-youtube 3s ease infinite;
}

/* Animación de movimiento de YouTube */
@keyframes move-background-youtube {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* X (Tiktok) en el footer */
footer .networks .tiktok:hover {
    background-color: #020202;  /* Fondo negro de X */
    background-image: linear-gradient(45deg, #020202 25%, #333333 50%, #020202 75%);
    background-size: 400% 400%;
    animation: move-background-tiktok 3s ease infinite;
}

/* Animación de movimiento de X (Tiktok) */
@keyframes move-background-tiktok {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* LinkedIn en el footer */
footer .networks .linkedink:hover {
    background-color: #0A66C2;  /* Fondo azul de LinkedIn */
    background-image: linear-gradient(45deg, #0A66C2 25%, #1A80D0 50%, #0A66C2 75%);
    background-size: 400% 400%;
    animation: move-background-linkedin 3s ease infinite;
}

/* Animación de movimiento de LinkedIn */
@keyframes move-background-linkedin {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Instagram en el footer */
footer .networks .instagram:hover {
    background: linear-gradient(45deg, #F58529, #DD2A7B, #8134AF, #515BD4);
    background-size: 400% 400%;
    animation: move-background-instagram 3s ease infinite;
}

/* Animación de movimiento de Instagram */
@keyframes move-background-instagram {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

footer .above{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #1E90FF;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}
/* SECCION RESPONSIVE */
@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}
@media screen and (max-width:700px){

    .skills .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .skills-programing {
        width: 45%; /* se adaptan 2 por fila */
        margin-bottom: 20px;
    }
    
    .aboutme .row{
        display: block;
    }
    .aboutme .row .column{
        width: fit-content;
    }
    .aboutme .row .column .container-interests{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    /* .skills .row{
        display: block;
    } */
    .skills .row .column{
        width: 100%;
    }
    .skills .row .column .skill-bar{
        width: 100%;
    }

    .resume .row{
        display: block;
    }
    .resume .row .column{
        width: 90%;
    }
    .resume .row .right{
        margin-left: 20px;
    }

    .portfolio .gallery{
        display: block;
        width: 100%;
    }
    .portfolio .gallery .project{
        max-width: 100%;
    }
    .portfolio .gallery .project img{
        width: 100%;
    }
    .contact .row{
        display: block;
    }
    .contact .row .column{
        width: 100%;
    }
}
.row .column li a:hover{
    color: #1E90FF;
}
.contact .fa-location-dot {
    color: #B94439; /* Verde */
}
.contact .fa-whatsapp {
    color: #28a745; /* Verde */
}
.contact .fa-envelope {
    color: #4584EF; /* Verde */
}





